@model List<Message>
@{
	ViewData["Title"] = "MessageList";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	//int count = 0;
}


<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Ad Soyad</th>
			<th>Email</th>
			<th>Konu</th>
			<th>Gönderim Tarihi</th>
			<th>Mesaj Detayı</th>
			<th>Mesaj Durumu</th>
			<th>Sil</th>

		</tr>
	</thead>
	
		@foreach (var item in Model)
		{
			//count++;
			<tr>
				<td>@item.MessageId</td>
				<td>@item.NameSurname</td>
				<td>@item.Email</td>
				<td>@item.Subject</td>
				<td>@item.SendDate.ToShortDateString()</td>
				<td>@item.MessageDetail</td>
				@if (item.IsRead == true)
				{
					<td><a href="/Message/ChangeMesssageIsReadToFalse/@item.MessageId" class="btn btn-dark">Okunmadi olarak isaretle</a></td>
				}
				else
				{
					<td><a href="/Message/ChangeMessageIsReadToTrue/@item.MessageId" class="btn btn-info">Okundu olarak isaretle</a></td>
				}

				<td><a href="/Message/DeleteMessage/@item.MessageId" class="btn btn-danger">Sil</a></td>
				<td><a href="/Message/OpenMessage/@item.MessageId" class="btn btn-info">Görüntüle</a></td>
				

			</tr>
		}


	
</table>
